@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Champ';
  src: local('Champ Black'), local('Champ-Black'),
      url('../public/fonts/Champ-Black.woff2') format('woff2'),
      url('../public/fonts/Champ-Black.woff') format('woff'),
      url('../public/fonts/Champ-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
